<nav class="navbar navbar-expand-md bg-secondary bg-opacity-1 border-bottom sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products">
        <img src="https://i.pinimg.com/474x/a6/96/1e/a6961e8303858361904dedc098363975.jpg" 
                 alt="Bootstrap" width="50" height="50" style="border-radius: 50%;">
            <b style="font-weight: 400;">Home</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        

      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/products/new">Add New</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
