<% layout("./layouts/boilerplate") -%>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh; overflow: hidden;">
    <div class="text-center" style="width: 500px; height: 200px; background-color: #f8f9fa;; border-radius: 10px;">
      <h2 class="mt-5">Your cart is empty!</h2>
      <a href="/products" style="text-decoration: none; color: white;"><button type="button" class="btn btn-primary">Start Shopping</button></a>
    </div>
  </div> 