<% layout("./layouts/boilerplate") -%>
<body>
    <div class="row">
      <div class="mt-5 offset-2 col-8">
        <h2>SignUp</h2>
        <form method="POST" action="/signup" novalidate class="needs-validation">

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" type="email" pattern="[a-zA-Z0-9@.]+" class="form-control" required>
                <div class="invalid-feedback">
                  Please Enter Email.!
                </div>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input name="username" id="username" type="text" pattern="[a-zA-Z0-9]+" class="form-control" required>
                <div class="invalid-feedback">
                  Enter a Valid UserName
                </div>
                <div class="valid-feedback">
                  Valid UserName
                </div>
            </div>


            <div class="mb-3">
                <label for="password" class="form-label">PassWord</label>
                <input name="password" id="password" type="password" pattern="[a-zA-Z0-9]+" class="form-control" required>
                <div class="invalid-feedback">
                  Enter a Valid Password
                </div>
            </div>

              <button type="submit" class="btn bg-primary mt-3">Submit</button>
        </form>
      </div>
    </div> 
</body>
