<% layout("./layouts/boilerplate") -%>
<body>
    <ul>
        <% for( let product of products ){ %>
            <li> <a href="/products/<%=product._id %>"> <%= product.title %></a></li>
            <!-- <li> <%= product.description %> </li>
            <li> <%= product.price %> </li> -->
        <% } %>
    </ul>
</body>



