<% layout("./layouts/boilerplate") -%>
<body>
    <form method="POST" action="/products">
        <input name="product[title]" placeholder="enter title of product">
        <br>
        <textarea name="product[description]" placeholder="enter description"></textarea>
        <br>
        <input name="product[price]" placeholder="enter price" type="number">
        <br>
        <button>Add</button>
    </form>
</body>
