<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/products">
        <input name="product[title]" placeholder="enter title of product">
        <br>
        <textarea name="product[description]" placeholder="enter description"></textarea>
        <br>
        <input name="product[price]" placeholder="enter price" type="number">
        <br>
        <button>Add</button>
    </form>
</body>
</html>